@{
    ViewData["Title"] = "Financial Health Checker";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Financial Health Checker</h1>
    
    <p>Learn more about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>